body {
    background-image: url('../../img/fundo.png');
}
.menu {
    list-style: none;
    position: relative;
    height: fit-content;
    background-color: rgb(153, 102, 0);
}
.menu>li{
    display: inline-block;
}
.corpo{
    width: 80%;
    height: 100%;
    background-color: white;
}
.texto {
    word-wrap: break-word;
}